{% load i18n %}
<h4 class="mb-3">{% trans "Yêu cầu Up Chương Mới" %}</h4>
<input class="form-control mb-3" id="searchChap" type="text" placeholder="{% trans 'Lọc theo tên tiểu thuyết hoặc số chương...' %}">

<div class="table-responsive mb-5">
  <table class="table table-bordered table-striped align-middle" id="tableChap">
    <thead class="table-light">
      <tr>
        <th class="text-center align-middle">{% trans "STT" %}</th>
        <th class="text-center align-middle">{% trans "Tên tiểu thuyết" %}</th>
        <th class="text-center align-middle">{% trans "Tên chương" %}</th>
        <th class="text-center align-middle">{% trans "Người đăng" %}</th>
        <th class="text-center align-middle">{% trans "Ngày gửi" %}</th>
        <th class="text-center align-middle">{% trans "Thao tác" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for chap in chapter_uploads %}
      <tr>
        <td class="text-center align-middle">{{ forloop.counter }}</td>
        <td class="text-center align-middle">{{ chap.novel_name }}</td>
        <td class="text-center align-middle">{{ chap.chapter_title }}</td>
        <td class="text-center align-middle">{{ chap.user }}</td>
        <td class="text-center align-middle">{{ chap.submitted_date }}</td>
        <td class="text-center align-middle">
          <a href="{% url 'novels:chapter_review' chapter_slug=chap.slug %}">{% trans "Xem chi tiết" %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <ul class="pagination justify-content-center" id="paginationChap"></ul>
</div>
