{% load static %} {% load i18n %}
<!DOCTYPE html>
<html data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <title>{% trans "WEB ĐỌC TIỂU THUYẾT DOCWN" %}</title>
    <link href="{% static 'novels/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'novels/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'novels/css/owl.carousel.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'novels/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'novels/css/theme.css' %}" />
    <script src="{% static 'novels/js/jquery.min.js' %}"></script>
    <script src="{% static 'novels/js/popper.min.js' %}"></script>
    <script src="{% static 'novels/js/bootstrap.min.js' %}"></script>
    <link
      href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />
    {% block head %}{% endblock %}
  </head>
  <body class="bg-body text-body">
    {% include 'novels/includes/navbar.html' %}
    <main class="container mt-5 pt-4">{% block content %} {% endblock %}</main>
    {% include 'novels/includes/footer.html' %}
    <script src="{% static 'novels/js/theme-toggle.js' %}"></script>
  </body>
</html>
