{% load i18n %}

<div class="popular-novels">
    <h3>{% trans "Truyện được quan tâm" %}</h3>
    <div class="row">
        {% if novels %}
            {% for novel in novels %}
                {% include "novels/includes/search_novel_card.html" with novel=novel SUMMARY_TRUNCATE_WORDS=SUMMARY_TRUNCATE_WORDS DEFAULT_RATING_AVERAGE=DEFAULT_RATING_AVERAGE %}
            {% endfor %}
        {% else %}
            <div class="col-12">
                <p class="text-muted text-center">
                    {% trans "Chưa có truyện phổ biến" %}
                </p>
            </div>
        {% endif %}
    </div>
</div>
