<!-- novels/templates/novels/novel_detail.html -->
{% extends "base_home.html" %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'novels/css/novel.detail.css' %}">
<link rel="stylesheet" href="{% static 'novels/css/fontawesome.all.min.css' %}">
<link rel="stylesheet" href="{% static 'interactions/css/comments.css' %}">
<link rel="stylesheet" href="{% static 'interactions/css/reviews.css' %}">

<script src="{% static 'novels/js/jquery.min.js' %}"></script>
<script src="{% static 'interactions/js/comment.load.js' %}"></script>
<script src="{% static 'interactions/js/comment.reply.js' %}"></script>
<script src="{% static 'interactions/js/comment_pagination.js' %}"></script>
<script src="{% static 'interactions/js/reviews.js' %}"></script>
<script src="{% static 'novels/js/summary-toggle.js' %}" defer></script>
<script src="{% static 'novels/js/chapter-toggle.js' %}" defer></script>
<script src="{% static 'novels/js/toc-popup.js' %}" defer></script>
{% if is_owner %}
<script src="{% static 'novels/js/chapter-delete.js' %}" defer></script>
{% endif %}
{% endblock %}

{% block content %}
  <div class="page-wrapper">
    {% include "novels/includes/breadcrumb.html" %}

    <div class="info-layout-wrapper">
      <div class="main-info-box">
        <div class="main-card">

          {% include "novels/includes/main_info.html" %}
          <hr>
          {% include "novels/includes/stats.html" %}
          <hr>
          {% include "novels/includes/meta.html" %}
          <hr>
          {% include "novels/includes/summary.html" %}
        </div>

        {% if not novel.rejected_reason %}
          {% include "novels/includes/volume_list.html" %}
          
          {% include "interactions/includes/reviews.html" %}
          
          <div id="comment-container"
          data-url="{% url 'interactions:novel_comments' novel.slug %}">
          </div>
        {% endif %}
      </div>

      {% include "novels/includes/sidebar.html" %}
    </div>
  </div>

  {% include "novels/includes/toc_popup.html" %}
{% endblock %}
