{% extends "base_home.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ page_title }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'novels/css/fontawesome.all.min.css' %}" />
<link rel="stylesheet" href="{% static 'novels/css/novel.detail.css' %}" />
<link rel="stylesheet" href="{% static 'novels/css/home.css' %}" />
<link rel="stylesheet" href="{% static 'novels/css/my_novels.css' %}" />
<link rel="stylesheet" href="{% static 'novels/css/reading_history.css' %}" />
<link rel="stylesheet" href="{% static 'novels/css/novel_filter.css' %}" />
{% endblock %}

{% block content %}
<div class="container-fluid reading-history-container">
    <!-- Breadcrumb Navigation -->
    <div class="breadcrumb-wrapper">
        {% include "novels/includes/breadcrumb.html" %}
    </div>
    
    <!-- Main Header -->
    {% include 'novels/includes/reading_history_header.html' %}

    <!-- Statistics Section -->
    {% include 'novels/includes/reading_history_statistics.html' %}

    {% load novel_tags %}
    {% render_novel_filter %}

    <!-- Reading History List Section -->
    {% include 'novels/includes/reading_history_list.html' %}
</div>
{% endblock %}
