{% extends "base_admin.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <h4 class="mb-3">{% trans "Yêu cầu Up Chương Mới" %}</h4>
  
  <form method="get" class="row g-2 mb-3">
    <div class="col-md-4">
      <input type="text" class="form-control" name="q" placeholder="{% trans "Tìm kiếm chương..." %}" value="{{ search_query }}">
    </div>
  
    <div class="col-md-3">
      <select name="approved" class="form-select">
        <option value="">{% trans "-- Tất cả trạng thái duyệt --" %}</option>
        <option value="1" {% if approved == "1" %}selected{% endif %}>{% trans "Đã duyệt" %}</option>
        <option value="0" {% if approved == "0" %}selected{% endif %}>{% trans "Chưa duyệt" %}</option>
      </select>
    </div>
  
    <div class="col-md-3">
      <select name="is_hidden" class="form-select">
        <option value="">{% trans "-- Tất cả hiển thị --" %}</option>
        <option value="0" {% if is_hidden == "0" %}selected{% endif %}>{% trans "Hiển thị" %}</option>
        <option value="1" {% if is_hidden == "1" %}selected{% endif %}>{% trans "Bị ẩn" %}</option>
      </select>
    </div>
  
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary w-100">{% trans "Lọc" %}</button>
    </div>
  </form>
  

  <div class="table-responsive mb-5">
    <table class="table table-bordered table-striped align-middle">
      <thead class="table-light">
        <tr>
          <th class="text-center align-middle">{% trans "STT" %}</th>
          <th class="text-center align-middle">{% trans "Tên tiểu thuyết" %}</th>
          <th class="text-center align-middle">{% trans "Tên chương" %}</th>
          <th class="text-center align-middle">{% trans "Người đăng" %}</th>
          <th class="text-center align-middle">{% trans "Ngày gửi" %}</th>
          <th class="text-center align-middle">{% trans "Thao tác" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for chapter in page_obj %}
        <tr>
          <td class="text-center align-middle">{{ forloop.counter|add:page_obj.start_index|add:"-1" }}</td>
          <td class="text-center align-middle">{{ chapter.volume.novel.name }}</td>
          <td class="text-center align-middle">{{ chapter.title }}</td>
          <td class="text-center align-middle">{{ chapter.volume.novel.created_by.username|default:"Ẩn danh" }}</td>
          <td class="text-center align-middle">{{ chapter.created_at|date:DATE_FORMAT_DMY }}</td>
          <td class="text-center align-middle">
            <a href="{% url 'admin:chapter_review' chapter_slug=chapter.slug %}">{% trans "Xem chi tiết" %}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <!-- Backend Pagination -->
    {% load admin_pagination_tags %}
    {% pagination_with_range page_obj %}
  </div>
</div>
{% endblock %}
