{% extends "base_admin.html" %} 
{% load i18n %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'novels/css/novels_admin.css' %}" />
{% endblock %}
{% block content %}
<div class="container mt-5">
  <h4 class="mb-3">{% trans "Danh sách tất cả tiểu thuyết" %}</h4>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <input class="form-control w-75" id="novelSearch" type="text" placeholder="Lọc theo tên, tác giả...">
    <a href ="#"><i class='bxr  bxs-plus-big' title="Thêm tiểu thuyết"></i></a>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped align-middle" id="novelTable">
      <thead class="table-light">
        <tr>
          <th class="text-center align-middle">{% trans "STT" %}</th>
          <th class="text-center align-middle">{% trans "Tên tiểu thuyết" %}</th>
          <th class="text-center align-middle">{% trans "Lượt đọc"%}</th>
          <th class="text-center align-middle">{% trans "Thể loại" %}</th>
          <th class="text-center align-middle">{% trans "Tác giả" %}</th>
          <th class="text-center align-middle">{% trans "Ngày đăng" %}</th>
          <th class="text-center align-middle">{% trans "Thao tác" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for novel in novels %}
        <tr>
          <td class="text-center align-middle">{{ forloop.counter }}</td>
          <td class="text-center align-middle">{{ novel.title }}</td>
          <td class="text-center align-middle">{{ novel.views }}</td>
          <td class="text-center align-middle">
            {% if novel.tags %}
              {% for tag in novel.tags %}
                <span class="badge bg-secondary">{{ tag }}</span>
              {% endfor %}
            {% else %}
              <span>{% trans "Không có tag" %}</span>
            {% endif %}
          </td>
          <td class="text-center align-middle">{{ novel.author }}</td>
          <td class="text-center align-middle">{{ novel.date }}</td>
          <td class="text-center align-middle"><a href="#">{% trans "Xem chi tiết" %}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav>
      <ul class="pagination justify-content-center mt-3" id="pagination"></ul>
    </nav>
  </div>
  <script src= {% static "novels/js/novels_admin.js" %}></script>
{% endblock %}
