{% extends "base_admin.html" %}
{% load i18n %}
{% load static %}
{% load datetime_filters %}
{% block content %}
<div class="container mt-5">
  <h4 class="mb-3">{% trans "Yêu cầu Up Tiểu Thuyết Mới" %}</h4>
  
  <form method="get" class="mb-3">
    <div class="d-flex">
      <input class="form-control" name="q" type="text" placeholder="{% trans 'Lọc theo tên, tác giả, người gửi...' %}" value="{{ search_query|default:'' }}">
      <button type="submit" class="btn btn-outline-secondary ms-2">{% trans "Tìm kiếm" %}</button>
    </div>
  </form>

  <div class="table-responsive mb-5">
    <table class="table table-bordered table-striped align-middle">
      <thead class="table-light">
        <tr>
          <th class="text-center align-middle">{% trans "STT" %}</th>
          <th class="text-center align-middle">{% trans "Tên tiểu thuyết" %}</th>
          <th class="text-center align-middle">{% trans "Thể loại" %}</th>
          <th class="text-center align-middle">{% trans "Người gửi" %}</th>
          <th class="text-center align-middle">{% trans "Ngày gửi" %}</th>
          <th class="text-center align-middle">{% trans "Thao tác" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for novel in page_obj %}
        <tr>
          <td class="text-center align-middle">{{ forloop.counter|add:page_obj.start_index|add:"-1" }}</td>
          <td class="text-center align-middle">{{ novel.name }}</td>
          <td class="text-center align-middle">
            {% if novel.tag_list %}
              {% for tag in novel.tag_list %}
                <span class="badge bg-secondary">{{ tag.name }}</span>
              {% endfor %}
            {% else %}
              <span>{% trans "Không có tag" %}</span>
            {% endif %}
          </td>
          <td class="text-center align-middle">{{ novel.created_by.username|default:_("Ẩn danh") }}</td>
          <td class="text-center align-middle">{{ novel.created_at|localtime_format:DATE_FORMAT_DMYHI }}</td>
          <td class="text-center align-middle">
            <a href="{% url 'novels:novel_request_detail' slug=novel.slug %}">{% trans "Xem chi tiết" %}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <!-- Backend Pagination -->
    {% load admin_pagination_tags %}
    {% pagination_with_range page_obj %}
  </div>
</div>
{% endblock %}
