<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    {% load i18n %}
    <title>{% block title %}{% trans "Tài khoản" %}{% endblock %}</title>
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>
