{% load i18n %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center gap-2">
        <li class="nav-item">
          <a class="nav-link active fs-5 d-flex align-items-center gap-1 text-white" href="/admin">
            <i class='bx bx-home'></i> 
            {% trans "Home" %}
          </a> 
       </li>
        <li class="nav-item">
           <a class="nav-link active fs-5 text-white" href="#">{% trans "Contact" %}</a> 
        </li>
        <li class="nav-item active cursor-pointer">
          <div class="d-flex align-items-center gap-1">
            <i class='bx bx-cog fs-5'></i>
            <span class = "fs-5 text-white">{% trans "Setting" %}</span>
          </div>
        </li>
      </ul>
      <div class = 'navbar__last'>
        {% comment %} <div class="search-container search-wrapper">
          <input type="text" class="search-input" id="searchInput" placeholder="Tìm kiếm..." />
          <i class="bx bx-search search-icon" id="searchIcon"></i>
        </div> {% endcomment %}
        <div class="dropdown notification-dropdown">
          <button
            class="btn btn-link position-relative text-body"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            id="notificationBtn"
          >
            <i class="bx bx-bell bx-flip-horizontal bx-tada fs-2"></i>
            {% if unread_notification_count > 0 %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ unread_notification_count }}
              <span class="visually-hidden">u{% trans "Unread Notifications" %}</span>
            </span>
            {% endif %}
          </button>
          {% include "interactions/includes/notifications.html" %}
        </div>
    </div>
    </div>
  </div>
</nav>
