
[data-bs-theme="dark"] body {
    background-color: #121212;
    color: #f8f9fa;
  }
  
  [data-bs-theme="light"] body {
    background-color: #ffffff;
    color: #212529;
  }
  

  
  /* [data-bs-theme="light"] a {
    color: #0d6efd;
  } */
