{% load static %} {% load i18n %} {% load message_tags %}
<!DOCTYPE html>
<html data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% trans "WEB ĐỌC TIỂU THUYẾT DOCWN" %}</title>
    <link href="{% static 'novels/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'novels/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'novels/css/owl.carousel.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'novels/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'novels/css/theme.css' %}" />
    <link rel="stylesheet" href="{% static 'novels/css/user_sidebar.css' %}" />
    <link rel="stylesheet" href="{% static 'novels/css/fontawesome.all.min.css' %}">
    <script src="{% static 'novels/js/jquery.min.js' %}"></script>
    <script src="{% static 'novels/js/popper.min.js' %}"></script>
    <script src="{% static 'novels/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'novels/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'novels/boxicons/css/transformations.min.css' %}" rel="stylesheet" />
    {% block head %}{% endblock %}
  </head>
  <body class="bg-body text-body">
    {% include 'novels/includes/navbar.html' %}
    {% include 'novels/includes/user_sidebar.html' %}
    
    <!-- Messages Display -->
    {% if messages %}
        <div class="container mt-5 pt-4">
            {% show_messages messages dismissible=True show_icons=False %}
        </div>
    {% endif %}
    
    <main class="container mt-5 pt-4">{% block content %} {% endblock %}</main>
    {% include 'novels/includes/footer.html' %}
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'novels/js/theme-toggle.js' %}"></script>
    <script src="{% static 'novels/js/user_sidebar.js' %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>
