<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    {% load i18n %}
    {% load message_tags %}
    <title>{% block title %}{% trans "Tài khoản" %}{% endblock %}</title>
    {% load static %}
    <link href="{% static 'novels/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}" />
    <link href="{% static 'boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'boxicons/css/transformations.min.css' %}" rel="stylesheet" />
    {% block extra_css %}{% endblock %}
</head>
<body class="bg-body text-body">

    <div class="header">
        <a href="{% url 'home' %}" class="logo">{% trans "Bảng điều khiển" %}</a>
        {% if not user.is_authenticated %}
        <div class="nav-links">
            <a href="{% url 'accounts:login' %}">{% trans "Đăng nhập" %}</a>
            <a href="{% url 'accounts:register' %}">{% trans "Đăng ký" %}</a>
        </div>
        {% endif %}
    </div>

    {% if messages %}
        <div class="container mt-3">
            {% show_messages messages dismissible=True show_icons=False %}
        </div>
    {% endif %}
    {% block content %}{% endblock %}
    
    <script src="{% static 'novels/js/jquery.min.js' %}"></script>
    <script src="{% static 'novels/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% url 'javascript-catalog' %}"></script>
</body>
</html>
