{% load i18n %}

<div class="side-info-box">
  <div class="group-box">
    <div class="group-header">
      <img src="{{ novel.created_by.profile.get_avatar }}" alt="Avatar">
      <span class="group-user">{{ novel.created_by }}</span>
    </div>
    <div class="group-body">
      <p class="group-label">{% trans "Nhóm dịch" %}</p>
      <p class="group-name">{{ novel.created_by }}</p>
    </div>
  </div>
  <div class="custom-box">
    <p class="box-title">{% trans "Chú thích thêm" %}</p>
    <ul class="note-links">
      <li><a href="#">Eng</a></li>
      <li><a href="#">Jap</a></li>
    </ul>
    <button class="post-btn">{% trans "+ Tạo bài viết" %}</button>
  </div>
</div>
