{% load i18n %} {% load static %}

<div class="container">
  <div class="trend__novel__type">
    <a class="trend__novel__text">
      <img src="{% static 'novels/images/cup.png' %}" class="cup__image" />
      <p class="mt-3">{% trans "Nổi bật" %}</p>
    </a>
    <a href="#" class="trend__novel__type__a">{% trans "Top tháng" %}</a>
    <a href="/novels/most-read-novels/" class="trend__novel__type__a">
      {% trans "Toàn t/gian" %}
    </a>
  </div>

  <div class="trend_novels_wrapper">
    <div class="trend_novels_page" id="page-1">
      {% for card in trend_novels|slice:":4" %}
        {% include 'novels/includes/card1.html' %}
      {% endfor %}
    </div>

    <div class="trend_novels_page" id="page-2" style="display: none;">
      {% for card in trend_novels|slice:"4:8" %}
        {% include 'novels/includes/card1.html' %}
      {% endfor %}
    </div>
  </div>

  <div class="trend_novels_pagination" style="text-align: center; margin-top: 10px;">
    <span class="dot active" onclick="switchPage(1)"></span>
    <span class="dot" onclick="switchPage(2)"></span>
  </div>
</div>
<script src="{% static 'novels/js/trend_novels_area.js' %}"></script>
